p.test1{
    background-image: url(https://img5.goodfon.ru/wallpaper/nbig/d/ab/background-rainbow-colorful-smoke-dym-colors-tsvet-fon-abstr.jpg);
}
p.test2{
    background-image: url(https://img4.goodfon.ru/wallpaper/nbig/f/a0/background-rainbow-colorful-splash-colors-bright-painting-fo.jpg);
    
}
p.test3{
    background-image: url(https://img4.goodfon.ru/wallpaper/nbig/2/5f/background-rainbow-colorful-colors-splash-bright-painting--2.jpg);

}
p.test4{
    background-image: url(https://img4.goodfon.ru/wallpaper/nbig/5/d9/background-rainbow-colorful-splash-colors-bright-painting--2.jpg);
}