body{
    background-image: url(https://i.pinimg.com/originals/27/88/6d/27886d29cc464b21e6eb26692522c119.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    background-image: url(https://img5.goodfon.ru/wallpaper/nbig/5/d9/colorful-colors-umbrella-rainbow-bright-tsvet-zont-raduga-fo.jpg);
    background-size: 100%;
    margin-bottom: 50px;
    padding: 10px 10px;
}
p.test1{
    background-image: url(https://img5.goodfon.ru/wallpaper/nbig/d/ab/background-rainbow-colorful-smoke-dym-colors-tsvet-fon-abstr.jpg);
    background-size: 100%;
}
p.test2{
    background-image: url(https://img4.goodfon.ru/wallpaper/nbig/f/a0/background-rainbow-colorful-splash-colors-bright-painting-fo.jpg);
    background-size: 100%; 
}
p.test3{
    background-image: url(https://img4.goodfon.ru/wallpaper/nbig/2/5f/background-rainbow-colorful-colors-splash-bright-painting--2.jpg);
    background-size: 100%;
}
p.test4{
    background-image: url(https://img4.goodfon.ru/wallpaper/nbig/5/d9/background-rainbow-colorful-splash-colors-bright-painting--2.jpg);
    background-size: 100%;
}